.home-page-box {
    min-height: 100vh;
    width: 100vw;
    background-color: #EEE;
}

.main-area-box {
    height: 80%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    box-shadow: -3px 5px 6px 1px rgb(0,0,0,0.3);
}